<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>

  <h1><%= title %></h1>

  <div id="todoList">
    <%- include('_todos') %>
  </div>

  <form method="post" action="/add-todo">
    <input placeholder="Název todočka" name="title">
    <button type="submit">Přidat</button>
  </form>

  <script>
    const ws = new WebSocket('ws://localhost:3000')

    ws.addEventListener('message', (ev) => {
      const data = JSON.parse(ev.data)

      if (data.type === 'todoList') {
        const el = document.getElementById('todoList')
        el.innerHTML = data.html
      }
    })
  </script>

</body>
</html>
